@import io.flashbook.flashbot.engine.TradingEngine.EngineError

@(error: EngineError)

@engineError(err: EngineError) = {
	<h2>@err.message</h2>

	@if(err.cause.isDefined) {
		<h3>Stack trace</h3>
		<p>
			@for(line<-err.cause.get.getStackTrace) {
				@line
				<br />
			}
		</p>


		@if(Option(err.cause.get.getCause).isDefined) {
			<div>
				@err2(EngineError(s"Cause of ${err.message}", Option(err.cause.get.getCause)))
			</div>
		}
	}
}

@err2(err: EngineError) = {
	@engineError(err)
}

@main(error.message) {
	@engineError(error)
}
